*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.container {
  padding: 0.5rem;
  width: 90%; margin: auto;
}

header {
  padding: 1.5rem;
  width: 100%;
  background-color: blue;
}

header ul li {
  list-style: none;
}

header ul li a {
  color: white;
}
